@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-black: #000000;
  --basic-black-opasity: rgba(0, 0, 0, 0.3);
  --basic-white: #ffffff;
  --basic-lite-black: #333333;
  --basic-lite-gray: #eeeeee;
  --basic-blue: #81b3d2;
  --basic-dark-blue: #669ec0;
  --basic-very-dark-blue: #5496bd;
  --basic-brown: #766357;
  --basic-dark-brown: #604e43;
  --basic-very-dark-brown: #503e33;
  --basic-grey: #f2f2f2;
  --basic-dark-grey: #e5e5e5;

  --basic-copyright-button: #bdbbbc;
  --basic-input-hover: #ebebeb;
  --basic-number-button: #a9a9a9;
  --basic-raiting-text: #666666;
  --basic-toggle: rgba(171, 171, 171, 1);
  --basic-toggle-shadow: rgba(171, 171, 171, 0.3);
  --basic-modal-shadow: rgba(0, 1, 1, 0.15);

  --box-shadow: rgba(0, 1, 1, 0.2);
  --semi-transporant-white: rgba(255, 255, 255, 0.9);
  --full-transporant-white: rgba(255, 255, 255, 0);
  --transporant-white: rgba(255, 255, 255, 0.3);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  min-width: 1200px;
  height: 100%;
  font-family: PTSans, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-grey);
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--box-shadow);
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 1;
}

.nav__list {
  list-style: none;
  color: var(--basic-black);
  min-height: 56px;
}

.nav__link {
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: var(--basic-black);
  font-size: 14px;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--basic-blue);
}

.nav__link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.about__img {
  background-image: url(../img/index/about-img.jpg);
  background-repeat: no-repeat;
  width: 100%;
  min-height: 509px;
  position: relative;
}

.about__img::after {
  content: "";
  position: absolute;
  background: url(../img/index/envelope.svg) no-repeat;
  width: 100%;
  height: 56px;
  left: 0;
  bottom: 0;
}

.about {
  text-align: center;
  padding-bottom: 51px;
}

.about__text {
  width: 470px;
  height: 80px;

  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  margin: 41.5px auto 16.5px;
}

.about__subtext {
  line-height: 26px;
}

.features__container {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.features__img {
  display: block;
}

.features__separator--text {
  padding: 49px 0 52px;
}

.features__separator--img {
  background-color: var(--basic-dark-brown);
}

.features__subtitle {
  width: 150px;

  margin: 0 auto 26px;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.features__title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features__text {
  width: 305px;
  margin: 23px auto 0;
}

.dignity {
  padding: 60px 0 82px;
}

.dignity__list {
  list-style: none;
}

.dignity__subtitle {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin-top: 25px;
}

.dignity__text {
  margin: 25px auto 0;
  width: 297px;
  color: var(--basic-lite-black);
}

.features__list {
  list-style: none;
  padding: 47px 0 54px;
}

.list {
  background-color: var(--basic-lite-gray);
}

.list__title {
  margin: 0 auto 26px;

  width: 120px;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.list__text {
  color: var(--basic-lite-black);
  margin: 24px auto 0;

  width: 258px;
}

.reservation {
  text-align: center;
}

.reservation__container {
  position: relative;
  width: 100%;
  align-items: end;
  padding-top: 56px;
}

.reservation__text-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 10px;
}

.reservation__text {
  width: 436px;
  line-height: 24px;
  margin: 34px auto 44px;
}

.reservation__button {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  text-transform: uppercase;
  width: 568px;
  height: 86px;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 10px;
}

.reservation__button:focus,
.reservation__button:hover {
  background-color: var(--basic-dark-brown);
}

.reservation__button:active {
  background: var(--basic-very-dark-brown);
  color: var(--transporant-white);
}

.map {
  text-align: center;
}

.map__img {
  display: block;
}

.footer {
  background-color: var(--semi-transporant-white);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer--restoration {
  position: static;
}

.footer__contacts {
  color: var(--basic-black);
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  padding-bottom: 18px;
}

.contacts__text {
  margin-bottom: 10px;
}

.contacts__phone {
  text-decoration: none;
  color: var(--basic-black);
}

.social__list {
  list-style: none;
  margin-left: 6px;
}

.social__item {
  margin-right: 6px;
  margin-bottom: 6px;
}

/* .social__item:last-child {
  margin-right: 0;
} */

.social__button:focus,
.social__button:hover {
  background-color: var(--basic-dark-blue);
}

.social__button:active {
  background-color: var(--basic-very-dark-blue);
}

.social__button:active path {
  fill: var(--transporant-white);
}

.copyright__button:focus path,
.copyright__button:hover path {
  fill: var(--basic-blue);
}

.copyright__button:active path {
  fill: var(--basic-copyright-button);
}

.copyright__text {
  line-height: 26px;
  margin-right: 15px;
  padding-bottom: 5px;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vector {
  display: block;
}

.nav__link--active:visited {
  color: var(--basic-brown);
}

.filter {
  color: var(--basic-white);
  background: url(../img/catalog/background-filter.jpg) no-repeat;
  padding-top: 27px;
  padding: 27px 73px 31px;
  background-size: cover;
}

.filter__form fieldset {
  border: none;
  padding: 0;
}

.filter__infrastructure {
  margin-right: 118px;
}

.filter__form legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.infrastructure__label {
  cursor: pointer;
}

.lodging__label {
  cursor: pointer;
}

.infrastructure__list {
  list-style: none;
}

.infrastructure__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 40px;
}

.lodging__list {
  list-style: none;
}

.filter-price__heading {
  font-size: 16px;
  font-weight: 700;
}

.infrastructure__heading {
  margin-bottom: 24px;
}

.infrastructure__item {
  margin-bottom: 25px;
}

.infrastructure__item:last-child {
  margin-bottom: 0;
}

.lodging__heading {
  margin-bottom: 24px;
}

.lodging__item {
  margin-bottom: 25px;
  padding-left: 40px;
}

.lodging__item:last-child {
  margin-bottom: 0;
}

.filter__check-box {
  position: absolute;
  width: 27px;
  height: 23px;
  background: url(../img/catalog/checkbox-off.svg) no-repeat;
  margin-left: -40px;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.checkbox:focus ~ .infrastructure__label,
.checkbox:focus ~ .lodging__label {
  border: 2px solid var(--basic-black);
  border-radius: 5px;
  padding: 3px;
}

.checkbox:checked + .filter__check-box {
  background: url(../img/catalog/checkbox-on.svg) no-repeat;
}

.checkbox:checked:disabled + .filter__check-box {
  opacity: 0.3;
  cursor: default;
}

.checkbox:disabled + .filter__check-box {
  opacity: 0.3;
  cursor: default;
}

.checkbox:disabled + .infrastructure__label {
  opacity: 0.3;
  cursor: default;
}

.filter-price__container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 317px;
  height: 36px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  margin-top: 10px;
}

.filter-price__container::after {
  content: "";
  width: 2px;
  height: 22px;
  position: absolute;
  background-color: var(--basic-white);
  left: 50%;
  top: 5px;
}

.filter-price__textbox {
  width: 50%;
  height: 100%;
  background-color: var(--full-transporant-white);
  border: none;
  text-transform: uppercase;
  color: var(--basic-white);
  text-align: center;
}

.filter-price__textbox::placeholder {
  color: var(--basic-white);
}

.filter-price__range-controls {
  position: relative;
  padding: 21px 0;
  width: 317px;
  height: 30px;
}

.range-controls__toggle {
  position: absolute;
  top: 12px;
  left: 0;
  box-sizing: content-box;
  width: 4px;
  height: 4px;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-toggle-shadow);
  cursor: pointer;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 80%;
}

.range-controls__toggle:focus,
.range-controls__toggle:hover {
  border: 10px solid var(--basic-white);
  top: 10px;
}

.range-controls__scale {
  height: 2px;
  background-color: var(--transporant-white);
}

.range-controls__bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}

.filter-price__btn {
  display: block;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-color: var(--full-transporant-white);
  text-transform: uppercase;
  color: var(--basic-white);
  text-align: center;
  width: 136px;
  min-height: 36px;
  margin: 14px auto 0;
  cursor: pointer;
  padding: 5px;
}

.filter-price__btn:hover,
.filter-price__btn:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.sorting__text {
  line-height: 15px;
  font-size: 12px;
}

.results__list {
  list-style: none;
}

.results__link:-webkit-any-link {
  color: var(--basic-black);
}

.result__text {
  font-size: 21px;
  font-weight: 700;
  margin-right: 46px;
}

.sorting__list {
  list-style: none;
  display: flex;
  margin-left: 12px;
}

.sorting__item {
  margin-left: 31px;
}

.sorting__link {
  border-bottom: 1px dotted var(--basic-blue);
  text-decoration: none;
  color: var(--basic-black-opasity);
  line-height: 18px;
  font-size: 12px;
  display: block;
}

.sorting__link--selected {
  color: var(--basic-blue);
  text-decoration: none;
  border-bottom: none;
}

.sorting__link:hover,
.sorting__link:focus {
  color: var(--basic-blue);
  border-bottom: 1px dotted var(--basic-blue);
}
.sorting__link:active {
  color: var(--basic-black);
  border-bottom: none;
}

.results__link {
  text-decoration: none;
  margin-bottom: 12px;
  display: block;
}

.results__subtitle {
  font-size: 21px;
  line-height: 12px;
  font-weight: 700;
}

.results__subtitle:hover,
.results__subtitle:focus {
  color: var(--basic-blue);
}
.results__subtitle:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.results__container-buttons {
  padding-top: 17px;
}

.results__btn {
  color: var(--basic-white);
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  padding: 5px 10px;
  min-height: 27px;
}

.text__type-of-housing {
  width: 110px;
}

.btn__detail {
  width: 110px;
  background-color: var(--basic-blue);
  margin-right: 3px;
}
.btn__detail:hover,
.btn__detail:focus {
  background-color: var(--basic-dark-blue);
}

.btn__detail:active {
  background-color: var(--basic-very-dark-blue);
  color: var(--transporant-white);
}

.btn__reservation {
  width: 142px;
  background-color: var(--basic-brown);
}

.btn__reservation:hover,
.btn__reservation:focus {
  background-color: var(--basic-dark-brown);
}

.btn__reservation:active {
  background-color: var(--basic-very-dark-brown);
  color: var(--transporant-white);
}

.text__rating {
  background-color: var(--basic-grey);
  width: 110px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  color: var(--basic-raiting-text);
  margin-top: 43px;
}

.features {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.features__main-title {
  grid-column: 1/-1;
}

.container {
  display: grid;
  grid-column: 1/-1;
}

.features__container {
  grid-template-columns: 1fr 800px;
  align-items: center;
}

.features__container--revers {
  grid-template-columns: 800px 1fr;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  align-items: center;
}

.features__separator {
  text-align: center;
}

.dignity__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
}

.dignity__item {
  text-align: center;
}

.icon__home {
  background: url(../img/index/icon-home.svg) no-repeat center;
  height: 75px;
}

.icon__food {
  background: url(../img/index/icon-food.svg) no-repeat center;
  height: 75px;
}

.icon__gift {
  background: url(../img/index/icon-gift.svg) no-repeat center;
  height: 75px;
}

.features__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  text-align: center;
}

.footer__wrapper {
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 120px;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
}

.social__button {
  display: flex;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  justify-content: center;
  align-items: center;
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.filter__form {
  display: flex;
}

.sorting__container {
  display: flex;
  padding: 33px 73px;
}

.results__item {
  display: flex;
  padding: 30px 73px;
}

.results__item:first-child {
  border-top: 1px solid var(--basic-dark-grey);
  border-bottom: 1px solid var(--basic-dark-grey);
}

.results__item + .results__item {
  border-bottom: 1px solid var(--basic-dark-grey);
}

.results__img {
  margin-right: 29px;
}

.results__text {
  display: inline-block;
  cursor: default;
}

.results__container-rating {
  margin-left: auto;
}

.filter__form fieldset:last-child {
  margin-left: auto;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
}

.nav__item {
  width: 25%;
}

.nav__item:nth-child(3),
.nav__item:nth-child(4) {
  text-align: right;
}

.nav__item:nth-child(4n + 3),
.nav__item:nth-child(4n + 4) {
  text-align: right;
}

.nav__item:nth-child(1) {
  padding-left: 72px;
}

.nav__item:nth-child(4) {
  padding-right: 72px;
}

.nav__item:nth-child(4n + 1) {
  padding-left: 72px;
}

.nav__item:nth-child(4n) {
  padding-right: 72px;
}

.sorting__container-buttons {
  margin-left: auto;
  align-self: flex-end;
}

.sorting__button {
  width: 11px;
  height: 10px;
  border: none;
  background-color: var(--basic-white);
  cursor: pointer;
}

.sorting__button:first-child {
  margin-right: 8px;
}

.button__up {
  left: 0;
  top: 0;
}

.button__down {
  left: 0;
  top: 0;
}

.sorting__button:hover path,
.sorting__button:focus path {
  fill: var(--basic-black);
}

.sorting__button:active path {
  fill: var(--basic-blue);
}

.sorting__button--selected path {
  fill: var(--basic-blue);
}

.results__rating-group {
  position: relative;
  height: 20px;
}

.rating__star {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 17px;
  cursor: pointer;
}

.rating__star:checked,
.rating__star:hover {
  background: url(../img/catalog/star.svg) repeat-x;
  background-size: 20px 17px;
}

.rating__star:hover ~ .rating__star {
  background: none;
}

.rating__star:nth-of-type(1) {
  width: 20px;
  z-index: 5;
}
.rating__star:nth-of-type(2) {
  width: 40px;
  z-index: 4;
}
.rating__star:nth-of-type(3) {
  width: 60px;
  z-index: 3;
}
.rating__star:nth-of-type(4) {
  width: 80px;
  z-index: 2;
}
.rating__star:nth-of-type(5) {
  width: 100px;
  z-index: 1;
}

.reservation__modal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 568px;
  padding: 37px 55px;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--basic-modal-shadow);
}

.modal__form {
  font-weight: 700;
  line-height: 26px;
}

.modal__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
}

.modal__input {
  background-color: var(--basic-grey);
  border: none;
  height: 38px;
  font-weight: 700;
  line-height: 26px;
}

.modal__input:hover {
  background-color: var(--basic-input-hover);
}

.modal__input:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--basic-dark-grey);
}

.input__date {
  margin-left: auto;
  padding: 6px 13px;
  width: 346px;
  text-transform: uppercase;
}

.input__number {
  width: 40px;
  text-align: center;
}

.input__number::-webkit-outer-spin-button,
.input__number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calendar__button {
  position: absolute;
  right: 0;
  top: 0;
  width: 23px;
  border: none;
  padding: 8px;
  box-sizing: content-box;
  cursor: pointer;
  background-color: var(--full-transporant-white);
}

.calendar__button:hover path,
.calendar__button:focus path {
  fill: var(--basic-black);
}

.calendar__button:active path {
  fill: var(--basic-blue);
}

.modal__item {
  margin: 15px 0;
}

.item__date {
  width: 100%;
  position: relative;
}

.modal__item:last-child {
  margin-left: auto;
}

.button-namber__minus {
  margin-left: 40px;
  padding-bottom: 7px;
}

.modal__item:last-child .button-namber__minus {
  margin-left: 30px;
}

.label__button-namber {
  width: 35px;
  height: 38px;
  background-color: var(--basic-grey);
  border: none;
  color: var(--basic-number-button);
  cursor: pointer;
}

.label__button-namber:hover path,
.label__button-namber:focus path {
  fill: var(--basic-black);
}

.label__button-namber:active path {
  fill: var(--basic-blue);
}

.label__button-namber:hover rect,
.label__button-namber:focus rect {
  fill: var(--basic-black);
}

.label__button-namber:active rect {
  fill: var(--basic-blue);
}

.modal__label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item__adults {
  display: flex;
  align-items: center;
}

.item__child {
  display: flex;
  align-items: center;
}

.modal__button {
  width: 100%;
  height: 58px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  margin-top: 40px;
  padding: 10px;
}

.modal__button:hover,
.modal__button:focus {
  background-color: var(--basic-dark-blue);
}

.modal__button:active {
  background-color: var(--basic-very-dark-blue);
  color: var(--transporant-white);
}
